__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.env.*
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.DS_Store

artifacts/*
!artifacts/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep
